
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(0,0,33);
    color: white;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 70px;
    font-size: 20px;
    background-color: rgb(2, 2, 48);
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0px 23px;
}

nav ul li a{
  text-decoration: none;
  color: white;
}
nav ul li a:hover{
  text-decoration: none;
  color: rgb(255, 155, 5);
}
.left{
    font-size: 2rem;
    font-weight: 800;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    
}
.firstsection > div{
    width: 30%;
}
.leftSection{
  font-size: 50px;
  padding-top: 170px;
  padding-left: 30px;
  margin-top: 110px;
  padding-bottom: 250px;
}
.yellow{
  /* color: rgb(223, 169, 7); */
  color: rgb(255, 155, 5);
  
  padding-left: 7px;
}
#name{
  display:flex;
  font-size:50px;
  font-weight: 500;
}
.rightSection img{
  height: 600px;
  margin-right: 50px;
  margin-top: 0px;
  padding-top: 120px;
}
#element{
  color: rgb(255, 155, 5);;
}

.about h1{
  padding-top: 100px;
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.about p{
  padding-left: 50px;
  font-size: 30px;
  padding-right: 50px;
  text-align: justify;
  padding-bottom: 50px;
}

.skills h2, .certifications h2, .contact h2{
    font-size: 45px;
  font-weight: bolder;
  padding-top: 100px;
  text-align: center;
}

.skills, .certifications, .contact {
    /* margin: 50px 0; */
    text-align: center;
}

.skills ul, .certifications ul {
    list-style: none;
    padding: 0;
}

.skills li, .certifications li {
    display: inline-block;
    /* margin:  10px; */
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 40px
}
.skills li:hover, .certifications li:hover {
    display: inline-block; 
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 20px;
    background-color:rgb(255, 155, 5) ;
    color: #fff;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 40px
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 15px;
}

.contact textarea {
    height: 150px;
}

.contact input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff9b05;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

.contact input[type="submit"]:hover {
    background-color: #ff7c00;
}
